# December Payroll ATS

In [55]:
import pandas as pd

# Read data from Excel file
df = pd.read_excel("DecemberSheet.xlsx")

# Calculate Chennai revenue
chennai_revenue = df.groupby("Department")["Chennai"].sum()

# Calculate Sambhajinagar revenue
sambhajinagar_revenue = df.groupby("Department")["Sambhajinagar"].sum()

# Calculate total revenue
total_revenue = df["Fees"].sum()

# Generate monthly pay slips
pay_slips = df[["Department", "Chennai", "Sambhajinagar"]]

# Calculate cash flow report
chennai_cash_flow = df.groupby("Department")["Chennai"].sum()
sambhajinagar_cash_flow = df.groupby("Department")["Sambhajinagar"].sum()

# Calculate balance sheet report
chennai_balance_sheet = chennai_revenue
sambhajinagar_balance_sheet = sambhajinagar_revenue

# Calculate stakeholder distribution report
chennai_profit = chennai_balance_sheet["Data Science"] + chennai_balance_sheet["Data Analyst"]
sambhajinagar_profit = sambhajinagar_balance_sheet["Data Science"] + sambhajinagar_balance_sheet["Data Analyst"]

In [56]:
print("Pay slips generate monthly one time:")
print(pay_slips)

Pay slips generate monthly one time:
       Department  Chennai  Sambhajinagar
0    Data Science      100            399
1    Data Science      100            399
2    Data Science      100            399
3    Data Science      100            399
4    Data Analyst      200            299
..            ...      ...            ...
118  Data Science      100            399
119  Data Science      100            399
120  Data Science      100            399
121  Data Science      100            399
122  Data Science      100            399

[123 rows x 3 columns]

In [57]:
print("Cash flow report:\n")
print("Chennai:\n", chennai_cash_flow)
print("\nSambhajinagar:\n", sambhajinagar_cash_flow)

Cash flow report:

Chennai:
 Department
Data Analyst      999
Data Science    15296
Name: Chennai, dtype: int64

Sambhajinagar:
 Department
Data Analyst     1496
Data Science    43586
Name: Sambhajinagar, dtype: int64

In [58]:
print("\nBalance Sheet report:\n")
print("Chennai:\n\n", chennai_balance_sheet)
print("\n\nSambhajinagar:\n\n", sambhajinagar_balance_sheet)

Balance Sheet report:

Chennai:

 Department
Data Analyst      999
Data Science    15296
Name: Chennai, dtype: int64


Sambhajinagar:

 Department
Data Analyst     1496
Data Science    43586
Name: Sambhajinagar, dtype: int64

In [59]:
print("Stack holder distribute(profit) report:")
print("\nChennai Total Profit : ",chennai_profit)
print("Sambhajinagar Franchise Total Profit : ",sambhajinagar_profit)

Stack holder distribute(profit) report:

Chennai Total Profit :  16295
Sambhajinagar Franchise Total Profit :  45082